{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ author }}{% endblock %}
{% block content %}
<div class="author-page-header">
    {% if author|string in MEDIUS_AUTHORS %}
    {% if MEDIUS_AUTHORS.get(author|string).cover %}
    <div class="cover" style="background-image: url({{ MEDIUS_AUTHORS.get(author|string).cover }})"></div>
    {% endif %}
    <div class="avatar{% if not MEDIUS_AUTHORS.get(author|string).cover %}-no-cover{% endif %}"><img src="{{ MEDIUS_AUTHORS.get(author|string).image}}" alt="{{ author|striptags }}"></div>
    <div class="author-profile">
        <h1>{{ author }}</h1>
        <p class="author-description">
            {{ MEDIUS_AUTHORS.get(author|string).description }}
        </p>
        <ul class="author-links">
            {% for icon, link in MEDIUS_AUTHORS.get(author|string).links %}
            <li><a href="{{ link }}"><i class="fa fa-{{ icon }}"></i></a>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

<div class="author-page-divider">
    <span>Latest Posts</span>
</div>


<div class="author-page-container">

    {% for article in articles_page.object_list %}
    <div class="post">
        <div class="post-meta pure-g">
            {% if article.category|string in MEDIUS_CATEGORIES %}
            <div class="pure-u">
                <img src="{{ MEDIUS_CATEGORIES.get(article.category|string).thumbnail }} " class="post-avatar" alt="{{ article.category|striptags }}">
            </div>
            {% endif %}

            <div class="pure-u-3-4 meta-data">
                <a href="{{ SITEURL }}/{{ article.category.url }}" class="category">{{ article.category }}</a><br />

                {% for author in article.authors %}
                <a class="author" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {% endfor %}
                &mdash; <abbr title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr>
            </div>
        </div>
        {% if article.thumbnail %}
        <a href="{{ SITEURL }}/{{ article.url }}"><img src="{{ article.thumbnail }}" alt="{{ article.title|striptags }}" class="post-image"/></a>
        {% endif %}
        <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        <div class="post-content">
            {{ article.summary }}
        </div>
        <div class="post-footer">
            <a href="{{ SITEURL }}/{{ article.url }}">Read more</a>
        </div>
    </div>
    {% endfor %}

    {% include "pagination.html" %}

</div>

{% endblock content %}
